
.center-div {
    margin: 0px auto 0px auto;
}

.display-block {
    display: block;
}

.gb_We {
    color: #5f6368;
    fill: currentColor;
    cursor: pointer;
    line-height: normal;
    white-space: nowrap;
    font-size: 1rem;
}

.svg-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.main-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.float-left-flex-container{
    display: flex;
    float: left
}

.navbar-div {
    display: flex;
    padding-left: 1rem;
    justify-content: flex-end;
    font-family: Arial, sans-serif;
}

.med-black-border {
    border: 5px solid black;
    border-radius: 0.25rem;
    /* margin: 0.25rem; */
}

.navbar-lmnt {
    margin: auto 0.25rem auto 0.25rem;
    color: black;
}

a.navbar-lmnt {
    text-decoration: none;
    font-size: 13px;
}

a.navbar-lmnt:hover {
    text-decoration: underline;
}

.sign-in-btn {
    display: inline-block;
    padding: 9px 23px;
    border-radius: 0.25rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.25px;
    outline: none;
    background: #1a73e8;
    color: white;
}

.sign-in-btn:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.navbar-flex{
    display:flex;
    justify-content: space-between;
    padding:6px;
}

div.navbar-div.store {
    padding-left: 1rem;
}

div.navbar-div.store a {
    padding-left: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    height: 44px;
    width: 584px;
    border-radius: 22px;
    border: 1px solid #dfe1e5;
    padding-right: 0.75rem;
}

.search-box:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.search-div {
    padding: 20px;
    padding-top: 30px;
}

.search-icon {
    padding-left: 0.75rem;
}

form {
    width: 100%;
}

input {
    width: 100%;
    font-size: 1rem;
    font-family: arial, sans-serif;
    border: none;
    outline: none;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.54);
    bottom: 0;
}

li {
    display: inline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

li a {
    display: block;
    padding: 18px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

li a:hover {
    text-decoration: underline;
}

.footer-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

.search-btn {
    margin: 1rem;
    padding: 9px 23px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

.search-btn:hover {
    outline: none;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
