
.center-div {
    margin: auto;
}

.display-block {
    display: block;
}

.gb_We {
    color: #5f6368;
    fill: currentColor;
    cursor: pointer;
    line-height: normal;
    white-space: nowrap;
    font-size: 1rem;
}

.svg-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.main-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.navbar-div {
    display: flex;
    justify-content: flex-end;
    font-family: Arial, sans-serif;
}

.med-black-border {
    border: 5px solid black;
    border-radius: 0.25rem;
    /* margin: 0.25rem; */
}

.navbar-lmnt {
    margin: auto 0.25rem auto 0.25rem;
    color: black;
}

a.navbar-lmnt {
    text-decoration: none;
    font-size: 13px;
}

a.navbar-lmnt:hover {
    text-decoration: underline;
}

.sign-in-btn {
    display: inline-block;
    padding: 9px 23px;
    border-radius: 0.25rem;
    font-size: 14px;
    letter-spacing: 0.25px;
    outline: none;
    background: #1a73e8;
    color: white;
}
