
.center-div {
    margin: 0px auto 0px auto;
}

.display-block {
    display: block;
}

.gb_We {
    color: #5f6368;
    fill: currentColor;
    cursor: pointer;
    line-height: normal;
    white-space: nowrap;
    font-size: 1rem;
}

.svg-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.main-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.float-left-flex-container{
    display: flex;
    float: left
}

.navbar-div {
    display: flex;
    padding-left: 1rem;
    justify-content: flex-end;
    font-family: Arial, sans-serif;
}

.med-black-border {
    border: 5px solid black;
    border-radius: 0.25rem;
    /* margin: 0.25rem; */
}

.navbar-lmnt {
    margin: auto 0.25rem auto 0.25rem;
    color: black;
}

a.navbar-lmnt {
    text-decoration: none;
    font-size: 13px;
}

a.navbar-lmnt:hover {
    text-decoration: underline;
}

.sign-in-btn {
    display: inline-block;
    padding: 9px 23px;
    border-radius: 0.25rem;
    font-size: 14px;
    letter-spacing: 0.25px;
    outline: none;
    background: #1a73e8;
    color: white;
}

.navbar-flex{
    display:flex;
    justify-content: space-between;
    padding:6px;
}

div.navbar-div.store {
    padding-left: 1rem;
}

div.navbar-div.store a {
    padding-left: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    height: 44px;
    width: 584px;
    border-radius: 22px;
    border: 1px solid #dfe1e5;
    padding-right: 0.75rem;
}

.search-div {
    padding: 20px;
    padding-top: 30px;
}

.search-icon {
    padding-left: 0.75rem;
}

form {
    width: 100%;
}

input {
    width: 100%;
    font-size: 1rem;
    font-family: arial, sans-serif;
    border: none;
    outline: none;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

div.search-buttons a {
    margin: 1rem;
    background-color: #f8f9fa;
    color: black;
    font-family: Arial, sans-serif;
}

div.search-buttons a:hover {
    text-decoration: none;
}
